<h1 style="width:80%;margin:0 auto;padding-bottom:30px;">注文履歴</h1>
<table class ="table" style="width:80%;margin:0 auto;">
    <tr>
        <th></th>
        <th>商品名</th>
        <th>税込価格</th>
        <th>個数</th>
        <th>注文ステータス</th>
        <th>注文日</th>
    </tr>

    <% @order_details_2d.each do |order_details| %>
        <% order_details.each do |order_detail| %>
            <tr>
                <th><%= attachment_image_tag order_detail.item, :image, :fill, 180, 130, fallback: "noimage.jpg", size:'50x50' %></th>
                <th><%= order_detail.item.name %></th>
                <th><%= order_detail.price_include_tax %>円</th>
                <th><%= order_detail.amount %>個</th>
                <th>
                    <% case order_detail.work_status %>
                        <% when 0 %>
                            <p>制作準備中</p>
                        <% when 1 %>
                            <p>制作中</p>
                        <% when 2 %>
                            <p>制作済み</p>
                        <% else %>
                    <% end %>
                </th>
                <th><%= order_detail.created_at.strftime('%Y/%m/%d') %></th>
            </tr>
        <% end %>
    <% end %>
</table>