<div class="ml-5 pl-5 container">
    <div class="row">
        <div class="mb-3 col-3"></div>
            
        <div class="col-9">
        <%= form_for @item, url: admins_item_path do |f| %>
            <%= render 'layouts/error', model: f.object %>
            <%= f.label :image %>
            <%= f.attachment_field :image %> <br>
            <%= f.label :name %>
            <%= f.text_field :name %> <br>
            <%= f.label :description %>
            <%= f.text_field :description %> <br>
            <%= f.label :genre_id %>
            <%#= f.collection_select <属性名>, <プルダウンメニュー表示用の配列データ>, <valueとして扱うカラム名>,  <表示用のカラム名>, <オプション> %>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, class: "selectpicker" %> <br>
            <%= f.label :price %>
            <%= f.text_field :price %> <br>
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, "販売中" %>
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, "販売停止中" %> <br>
            <div style="margin-left: 300px;">
                <%= f.submit "編集", class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
    </div>
</div>